@config "../tailwind.config.js";
@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Satisfy&display=swap');

@theme {
    --font-montserrat: "Montserrat", sans-serif;
}

@layer components {
    .input-style {
        @apply w-full border border-gray-300 rounded-lg px-4 py-3 text-sm focus:outline-none focus:ring-2 focus:ring-[#23A6F0];
    }

    .error-text {
        @apply text-red-500 text-xs mt-1;
    }

    .label-text {
        @apply block text-sm font-medium mb-2;
    }
}